@model HomeViewModel
@{
    ViewBag.Title = Model.Title;
    int number1 = 10;
    int numbe2 = 20;
    //var student = ViewBag.Student as StudentManagement.Models.Student;
}

<p>Khoa Nguyen 2</p>
<h1>My calculator</h1>
<h3>@Model.Message</h3>
@*    <h3>@ViewBag.Hello</h3>
    <h3>@TempData["msg"]</h3>*@

@*<h1>@number1 + @numbe2 = @(number1 + numbe2)</h1>*@

@foreach (var student in Model.Students)
{
    <h3>StudentId: @student.ID</h3>
    <h3>Student name: @student.Fullname </h3>
    <h3>Student's Dob: @student.DoB </h3>
    <img src="~/images/@student.Aavatar" width="150px" height="150px" />
    <hr />
}
