@model HomeViewModel
@{
    ViewBag.Title = Model.Title;
}
<div class="row">
    <a asp-controller="Home" asp-action="Create" class="btn btn-secondary mb-1">Create</a>
</div>
<div class="row">
    @foreach (var student in Model.Students)
    {
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h4>@student.Fullname</h4>
                </div>
                <img class="card-img-top" src="~/images/@student.Aavatar" width="200" height="200">
                <div class="card-body text-center">
                    <h5>Id: @student.ID</h5>
                    <h5>Email: @student.Email</h5>
                    <h5>Dob: @student.DoB.ToString("dd/MM/yyyy") </h5>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="detail" asp-route-id="@student.ID" class="btn btn-primary">Detail</a>
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@student.ID" class="btn btn-warning">Edit</a>
                </div>
            </div>
        </div>
    }
</div>
