@model CourseView
@{
    ViewData["Title"] = "Course detail";
}

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card my-2">
            <div class="card-header text-center">
                <h3>Course Id: @Model.CourseId</h3>
                <h4>Course Name: @Model.CourseName</h4>
            </div>
            <div class="card-body text-center">
                <h4>Status: @Model.Status</h4>
                <h4>Start Date: @Model.StartDateStr</h4>
                <h4>End Date: @Model.EndDateStr</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Course" asp-action="Index" class="btn btn-warning">Back</a>
                <a asp-controller="Course" asp-action="Edit" asp-route-id="@Model.CourseId" class="btn btn-primary">Edit</a>
                <a asp-controller="Course" asp-action="Delete" asp-route-id="@Model.CourseId" class="btn btn-info">Delete</a>
            </div>
        </div>
    </div>
</div>