@model CourseView
@{
    ViewData["Title"] = "Details course";
}

@if (TempData["Message"] != null)
{
    <p class="alert alert-success">@TempData["Message"]</p>
}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card my-2">
            <div class="card-header">
                <h3 style="text-align: center;">Course: @Model.CourseName</h3>
            </div>
            <div class="card-body">
                <p><b>ID:</b> @Model.CourseId</p>
                <p><b>Start Date:</b> @Model.StartDateStr</p>
                <p><b>End Date:</b> @Model.EndDateStr</p>
                <p><b>Created Date:</b> @Model.CreatedDateStr</p>
                <p><b>Created By:</b> @Model.CreatedBy</p>
                <p><b>Modified Date:</b> @Model.ModifiedDateStr</p>
                <p><b>Modified By:</b> @Model.ModifiedBy</p>
                <p><b>Status:</b> @Model.StatusName</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Course" asp-action="Index" class="btn btn-warning">Back</a>
            </div>
        </div>
    </div>
</div>