@model List<CourseView>
@{
    ViewData["Title"] = "Course page";
}

<div class=" row">
    <a asp-controller="Course" asp-action="Create" class="btn btn-info">Create</a>
    @*<a href="javascript:void(0);" class="btn btn-info" onclick="course.openModel()">Create</a>*@

    <table class="table table-bordered mt-2">
        <thead class="thead-dark">
            <tr>
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var actions = "";
                switch (item.Status)
                {
                    case 1:
                        {
                            actions = $"<a href='{Url.Action("Edit", "Course", new { id = item.CourseId })}'><i class='fas fa-edit'></i></a>";

                            actions += $" <a href='#' onclick='ToCompleted({item.CourseId},\"" + item.CourseName + "\")'>" +
                                "<i class='fas fa-check-circle'></i></a>";
                            break;
                        }
                    case 3:
                        {
                            actions += $" <a href='#' onclick='Delete({item.CourseId},\"" + item.CourseName + "\")'>" +
                                 "<i class='fas fa-trash'></i></a>";

                            actions += $" <a href='{Url.Action("Edit", "Course", new { id = item.CourseId })}'><i class='fas fa-edit'></i></a>";

                            actions += $" <a href='#' onclick='Active({item.CourseId},\"" + item.CourseName + "\")'>" +
                                "<i class='far fa-play-circle'></i></a>";
                            break;
                        }
                }
                <tr>
                    <td>@item.CourseId</td>
                    <td>@item.CourseName</td>
                    <td>@item.StartDateStr</td>
                    <td>@item.EndDateStr</td>
                    <td>
                        <span class="@(item.Status == 1 ? "btn btn-primary" : (item.Status == 2 ? "btn btn-success" : "btn btn-warning"))">
                            @item.StatusName
                        </span>
                    </td>
                    <td>
                        <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId"><i class="fas fa-eye"></i></a>
                        @Html.Raw(actions)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        function Active(id, name) {
            var r = confirm("Do you want to change status to InProcess" + name);
            if (r == true) {
                window.location.href = "Course/ToInProcess?id=" + id;
                alert("Change Status Completed " + name);
            }
        };
        function Delete(id, name) {
            var r = confirm("Do you want to Delete " + name);
            if (r == true) {
                window.location.href = "Course/Delete?id=" + id;
                alert("Delete Completed " + name);
            }
        };
        function ToCompleted(id, name) {
            var r = confirm("Do you want to change status To Completed " + name);
            if (r == true) {
                window.location.href = "Course/ToCompleted?id=" + id;
                alert("Change success" + name);
            }
        };
    </script>
}