@model List<CourseView>
@{
    ViewData["Title"] = "Course page";
}

<div>
    <a asp-controller="Course" asp-action="Create" class="btn btn-info mb-3">Create</a>
    @*<a href="javascript:void(0);" class="btn btn-info" onclick="course.openModel()">Create</a>*@
</div>
<div>
    <table class="table table-bordered mt-5" id="tbCourse">
        <thead class="thead-dark">
            <tr>
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var actions = "";
                switch (item.Status)
                {
                    case 1:
                        {
                            actions = $"<a href='{Url.Action("Edit", "Course", new { id = item.CourseId })}'><i class='fas fa-edit'></i></a>";
                            actions += $" <a href='#'><i class='fas fa-check-circle'></i></a>";
                            break;
                        }
                    case 3:
                        {
                            actions = $"<a href='javascript:void(0)' onclick=\"course.delete({item.CourseId})\"><i class='fas fa-trash mr-1'></i></a>";
                            actions += $"<a href='{Url.Action("Edit", "Course", new { id = item.CourseId })}'><i class='fas fa-edit'></i></a>";
                            actions += $" <a href='#'><i class='far fa-play-circle'></i></a>";
                            break;
                        }
                }


                <tr>
                    <td>@item.CourseId</td>
                    <td>@item.CourseName</td>
                    <td>@item.StartDateStr</td>
                    <td>@item.EndDateStr</td>
                    <td>
                        <span class="@(item.Status == 1 ? "btn btn-primary" : (item.Status == 2 ? "btn btn-success" : "btn btn-warning"))">@item.StatusName</span>
                    </td>
                    <td>
                        <a asp-controller="Course" asp-action="Detail" asp-route-id="@item.CourseId"><i class="fas fa-eye"></i></a>
                        @Html.Raw(actions)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src="~/js/course.js" asp-append-version="true"></script>
 }