@model List<CourseView>
@{
    ViewData["Title"] = "Course page";
}
<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<h4>@TempData["thanhcong"]</h4>
<a asp-controller="Course" asp-action="Create" class="btn btn-info">Create</a>
<table id="table_id" class="table table-bordered mt-2">
    <thead class="thead-dark">
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var actions = "";
            switch (item.Status)
            {
                case 1:
                    {
                        actions = $"<a href='{Url.Action("Update", "Course", new { id = item.CourseId })}'><i class='fas fa-edit'></i></a>";
                        actions += $" <a href='#' onclick='Complete({item.CourseId},\"" + item.CourseName + "\")'><i class='fas fa-check-circle'></i></a>";
                        break;
                    }
                case 3:
                    {
                        actions = $"<a href='#' onclick='Delete({item.CourseId},\"" + item.CourseName + "\")'><i class='fas fa-trash'></i></a>";
                        actions += $" <a href='{Url.Action("Update", "Course", new { id = item.CourseId })}'><i class='fas fa-edit'></i></a>";
                        actions += $" <a href='#' onclick='Active({item.CourseId},\"" + item.CourseName + "\")'><i class='far fa-play-circle'></i></a>";
                        break;
                    }
            }


            <tr>
                <td>@item.CourseId</td>
                <td>@item.CourseName</td>
                <td>@item.StartDateStr</td>
                <td>@item.EndDateStr</td>
                <td>
                    <span class="@(item.Status == 1 ? "btn btn-primary" : (item.Status == 2 ? "btn btn-success" : "btn btn-warning"))">@item.StatusName</span>
                </td>
                <td>
                    <a href="#"><i class="fas fa-eye"></i></a>
                    @Html.Raw(actions)
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        function Delete(id, name) {
            $.confirm({
                title: 'Confirm!',
                content: "Do you want to delete " + name,
                buttons: {
                    btnClass: 'btn-red',
                    confirm: {
                        btnClass: 'btn-blue',
                        action: function () {
                            $.confirm({
                                title: 'Message',
                                content: "Completed delete " + name,
                                buttons: {
                                    somethingElse: {
                                        btnClass: 'btn-blue',
                                        text: 'Ok',
                                        action: function () {
                                            window.location.href = "Course/Delete?id=" + id;
                                        }
                                    }
                                }
                            });
                        }
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
        };
        function Active(id, name) {
            $.confirm({
                title: 'Confirm!',
                content: "Do you want to active " + name,
                buttons: {
                    btnClass: 'btn-red',
                    confirm: {
                        btnClass: 'btn-blue',
                        action: function () {
                            $.confirm({
                                title: 'Message',
                                content: "Completed active " + name,
                                buttons: {
                                    somethingElse: {
                                        btnClass: 'btn-blue',
                                        text: 'Ok',
                                        action: function () {
                                            window.location.href = "Course/active?id=" + id;
                                        }
                                    }
                                }
                            });
                        }
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    }
                }
            });
        };
        function Complete(id, name) {
            var r = confirm("Do you want to Complete " + name);
            if (r == true) {
                window.location.href = "Course/Complete?id=" + id;
                alert("completed " + name);
            }
        };
    </script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
}
