@model SaveCourseReq
@{
    ViewBag.Title = "Thay đổi thông tin thương hiệu";
}
<link href="~/js/toastr.js/toastr.css" rel="stylesheet" />
<link href="~/css/toast-css/grid.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<div class="col-8 container">
    <div id="hidden" style="opacity: 1; transition: opacity 1000ms;">
        @if (@TempData["thanhcong"] != null)
        {<p class="alert alert-success">@TempData["thanhcong"]</p>}
    else if (@TempData["loi"] != null)
    {
        <p class="alert alert-danger">@TempData["loi"]</p>
    }
    </div>
<form asp-controller="Course" asp-action="Update" method="post" class=" bg-light rounded container">
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.HiddenFor(m => m.CourseId)
    <div class="row">
        <div class="col-2 col-form-label">
            <label asp-for="CourseName"></label>
        </div>
        <div class="col-10">
            <input asp-for="CourseName" class="form-control" />
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-form-label">
            <label asp-for="Status"></label>
        </div>
        <div class="col-10">
            <select asp-for="Status" class="form-control">
                <option value="1">Inprocess</option>
                <option value="2">Completed</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-form-label">
            <label asp-for="StartDate"></label>
        </div>
        <div class="col-10">
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-form-label">
            <label asp-for="EndDate"></label>
        </div>
        <div class="col-10">
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <button id="btn-update" class="btn btn-success mr-3" type="submit">Update</button>
        <button class="btn btn-warning" type="reset">Cancel</button>
    </div>
</form>
</div>
@section scripts{ 
<script src="~/js/toastr.js/toastr.min.js"></script>
<script>
    $("#btn-update").click(function () {
        toastr.success("success");
        setTimeout(function () { document.getElementById("hidden").style.display = "none" }, 3000);
    });
    setTimeout(function () { document.getElementById("hidden").style.display = "none" }, 3000);
</script>
}