@model List<ModuleView>
@{
    ViewData["Title"] = "Course page";
}

<div class=" row">
    <a asp-controller="Module" asp-action="Create" class="btn btn-info">Create</a>

    <table class="table table-bordered mt-2">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Start date</th>
                <th>Modified date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ModuleId</td>
                    <td>@item.ModuleName</td>
                    <td>@item.Duration</td>
                    <td>@item.StartDateStr</td>
                    <td>@item.ModifiedDateStr</td>  
                    <td><a class="text-center text-info" asp-controller="Module" asp-action="Details" asp-route-id="@item.ModuleId">Info</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>